<!DOCTYPE html>
<html>
    <head>
           <meta charset="utf-8">
           <title>arey bhai bhai...</title>
    </head>
    <body>
      <h1>salman bhai jail mai...yass</h1>
      <p>ab 5 saal under raho...being human</p>
    </body>
</html>
 
